.login-container{
    padding-bottom: 50px;
}

.login-main{
    margin-top: 100px;
}

.parent-div{
    width: 50%;
    margin: auto;
    text-align: center;
}

.login-with-email-area{
    border: 1px solid gray;
    padding: 30px;
    text-align: left;
}

.title-area{
    padding-bottom: 40px;
}

.email{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
}

.password{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
}
.login-input{
    background-color: tomato;
    border: none;
    color: white;
    width: 100%;
    padding: 7px 0px;
}

.remember{
    margin-right: 10px;
}

.sign-up {
    margin-top: 20px;
}

.create-account{
    color: tomato;
    margin-left: 3px;
}

.or{
    padding-top: 15px;
}

.google-btn{
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 7px 0px;
}
